
/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", Tahoma, Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  float: right;
  position: relative;
  border: 1px solid black;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  width: 150px;
  margin: 0px 0px 0px 0px;
}

div{

}

div>div {
  float: left;
	border: 1px solid black;
	background-color: #D3D3D3; 
  margin: 1% 1% 1% 1%;
}

#menutitle1 {
	background-color: pink;
	color: black;
}

#menutitle2 {
	background-color: #873b43;
	color: #FFFFFF;
}

#menutitle3 {
	background-color: #fcfdb1;
	color: black;
}

p {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  float: left;
  font-size: 10pt;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop Format **********/
@media (min-width: 992px) {
  .column-width-desktop-format {
    float: left;
    border: 1px solid black;
    width: 31.33%;
  }
}

/********** Tablet format **********/
@media (min-width: 786px) and (max-width: 991px) {
  .column-width-tablet-format1, .column-width-tablet-format2 {
    float: left;
    border: 1px solid black;
  }
  .column-width-tablet-format1 {
    width: 48%;
  }
  .column-width-tablet-format2 {
    width: 98%;
  }
}

